<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer.address %>
  </p>

   <p>
    <strong>Orders:</strong>
    <% customer.orders.each do |c|%>
      <%= link_to "Order##{c.id}", Order.find(c.id) %>
    <% end%>
  </p>
</div>
