<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Products:</strong>
    <% category.products.each do |c|%>
      <%= link_to c.name, Product.find(c.id) %><br>
    <% end%>
  </p>
</div>
